@import "./ant-colors.scss";
.ant-form-item {
  margin-bottom: 12px;
}

.ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  color: $primary-6;
}

.ant-form-label-block label {
  width: 100%;
}
