$primary-1: #f4e6ff;
$primary-2: #d6a3ff;
$primary-3: #bf7aff;
$primary-4: #a552ff;
$primary-5: #8929ff;
$primary-6: #6900ff;
$primary-7: #5300d9;
$primary-8: #3e00b3;
$primary-9: #2c008c;
$primary-10: #1d0066;
$primary-shadow: rgba(105, 0, 255, 0.1);
$primary-shadow-16: rgba(105, 0, 255, 0.16);
$primary-shadow-12: rgba(105, 0, 255, 0.12);
$primary-shadow-9: rgba(105, 0, 255, 0.09);

$blue-6: #1677ff;

$red-1: #fff1f0;
$red-2: #ffccc7;
$red-3: #ffa39e;
$red-4: #ff7875;
$red-5: #ff4d4f;
$red-6: #f5222d;

$yellow-1: #feffe6;
$yellow-2: #ffffb8;
$yellow-3: #fffb8f;
$yellow-4: #fff566;
$yellow-5: #ffec3d;
$yellow-6: #fadb14;
$yellow-7: #d4b106;
$yellow-8: #ad8b00;
$yellow-9: #876800;
$yellow-10: #614700;
