.kse-result-login {
  .ant-result-icon {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .ant-result .ant-result-extra {
    text-align: unset;
  }
}

.ant-result-title {
  word-break: keep-all;
}

.ant-result-subtitle {
  word-break: keep-all;
}
