@import "./ant-colors.scss";
.kse-text-blue {
  color: $blue-6;
}

body .kse-text-primary {
  color: $primary-6 !important;
}

.kse-text-word-no-break,
.kse-text-no-break {
  word-break: keep-all;
}

.kse-text-yellow {
  color: $yellow-6;
}

.kse-text-yellow-1 {
  color: $yellow-1;
}
.kse-text-yellow-2 {
  color: $yellow-2;
}
.kse-text-yellow-3 {
  color: $yellow-3;
}
.kse-text-yellow-4 {
  color: $yellow-4;
}
.kse-text-yellow-5 {
  color: $yellow-5;
}
.kse-text-yellow-6 {
  color: $yellow-6;
}
.kse-text-yellow-7 {
  color: $yellow-7;
}
.kse-text-yellow-8 {
  color: $yellow-8;
}
.kse-text-yellow-9 {
  color: $yellow-9;
}
.kse-text-yellow-10 {
  color: $yellow-10;
}
